---
import Layout from '../layouts/Layout.astro'
import SearchBar from '../components/SearchBar.astro'
import CountriesGrid from '../components/CountriesGrid.astro'
---

<Layout title='Where in the world?'>
  <main class='mt-24 px-20'>
    <div class='container'>
      <SearchBar />
      <CountriesGrid />
    </div>
  </main>
</Layout>
