---
import SearchIcon from './icons/SearchIcon.astro'
---

<div class='flex w-100 justify-center'>
  <div class='relative w-96'>
    <input
      type='search'
      id='search-dropdown'
      class='block p-2.5 w-full z-20 text-sm text-gray-900 bg-gray-50'
      placeholder='Search for a country...'
      required
    />
    <button class='absolute top-0 right-0 p-2.5 text-sm font-medium h-full'>
      <SearchIcon size={24} />
    </button>
  </div>
</div>
